*{
    margin: 0;
    padding: 0;
}

.menu{
    display: flex;
    width: 100vw;
    height: 84px;
    box-shadow: 0px 1px rgba(212, 209, 209, 0.664);
}

.menu-navegador{
    display: flex;
    /* align-items: center; */

}
.menu-navegador__page{
    display: inline-block;
    text-decoration: none;
    transform: translate(740px, 30px);
    padding-left: 20px;

}


a{
    text-decoration: none;
    color: #000;
}
/* .menu-navegador__page:last-child{
    padding-left: 114px;
} */


.p1{
    transform: translate(67.75px, 30px);
}

.container-frontal{
    width: 100vw;
    height: 395px;
    /* outline: 2px solid green; */
    background-color: #FFF;
}

h1{
    width: 970px;
    height: 91px;
    font-size: 76px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(120px);
}

.p2{
    width: 690px;
    height: 84px;
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(140px);
    text-align: center;
}

.container{
    background-color: #F2F4F7;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 184px;
}

.container-article{
    width: 980px;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid lightblue; */
    margin-top: 20px;
    background-color: #FFF;
    border-radius: 20px;
}


img{
    border-radius: 10px;
    width: 300px;
    height: 211.85px;
    display: inline-block;
    transform: translate(660px,-115px);
}

.container-article__fecha{
    display: block;
    width: 107px;
    height: 16px;
    font-size: 13px;
    transform: translate(30px,41px);
}

.container-article__title{
    display: block;
    width: 610px;
    height: 68px;
    font-size: 26px;
    transform: translate(30px,46px);
}

.container-article__text{
    display: block;
    width: 610px;
    height: 54px;
    font-size: 18px;
    transform: translate(30px,50px);
}

.pp{
    height: auto;
    width: 100vw;
    /* margin-top: 51px; */
    
}

.hpp{
    width: 302px;
    height: 36px;
    font-size: 26px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(60px);
}

.textpp{
    width: 472px;
    height: 56px;
    text-align: center;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(70px);
    
}

.copy{
    width: 181px;
    height: 81px;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(200px);
}