*{
    margin: 0;
    padding: 0;
}

.menu{
    display: flex;
    width: 100vw;
    height: 84px;
    box-shadow: 0px 1px rgba(212, 209, 209, 0.664);
}

.menu-navegador{
    display: inline-flex;
}

.menu-navegador__page{
    display: inline-block;
    margin-left: 30px;
    transform: translate(740px,30px);
    
}
a{
    text-decoration: none;
    color: #000;
}

.p1{
    transform: translate(68.25px,30px);
}

.principal{
    width: 100vw;
    height: 418px;
    /* outline: 2px solid rebeccapurple; */
}

.principal-date{
    width: 207px;
    height: 16px;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(120px);
}

h1{
    width: 970px;
    height: 182px;
    text-align: center;
    font-size: 76px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(120px);

}
.information{
    width: 100vw;
    height: 2460px;
}

.information-img1{
    width: 1100px;
    height: 580px;
    border-radius: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.information-text{
    width: 680px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 18px;
    padding-top: 40px;
    /* padding-bottom: 40px; */
}

.information-img2{
    width: 780px;
    height: 580px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.information-important{
    width: 740px;
    height: 135px;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    display: inline-block;
    transform: translate(380px,-16px);
}
.caja{
    width: 8px;
    height: 128px;
    background-color: #C41740;
    display: inline-block;
    transform: translateX(353px);
}

.container{
    width: 100vw;
    height: 1044px;
    /* outline: 2px solid green; */
    background-color: #F2F4F7;
    
}

.container-title{
    width: 295px;
    height: 34px;
    font-size: 26px;
    transform: translate(250px,80px);
}

.container-h{
    width: 153px;
    height: 34px;
    font-size: 26px;
    transform: translate(250px,81px);
}

.container-article{
    width: 980px;
    height: 260px;
    /* outline: 1px solid gold; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    transform: translate(0,100px);
    margin-top: 20px;
    background-color: #FFF;
}

.container-article__fecha{
    width: 107px;
    height: 16px;
    transform: translate(30px,41px);
}

.container-article__title{
    width: 610px;
    height: 68px;
    font-size: 26px;
    transform: translate(30px,60px);
}
.container-article__text{
    width: 610px;
    height: 54px;
    transform: translate(30px,70px);
}

.container-img{
    width: 300px;
    height: 211.85px;
    border-radius: 10px;
    transform: translate(660px, -110px);
}

.pp{
    height: auto;
    width: 100vw;
    /* margin-top: 51px; */
    
}

.hpp{
    width: 302px;
    height: 36px;
    font-size: 26px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(60px);
}

.textpp{
    width: 472px;
    height: 56px;
    text-align: center;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(70px);
    
}

.copy{
    width: 181px;
    height: 81px;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(200px);
}